@model Student
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form asp-controller="Students" asp-action="Create" method="post" class="mt-3">
        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Enter Your Name">
            </div>
        </div>
        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" placeholder="Enter Your Email Id">
            </div>
        </div>
        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" placeholder="Enter Your Password">
            </div>
        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Branch" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <select asp-for="Branch" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<Branch>()"></select>
                <select asp-for="Branch" asp-items="ViewBag.AllBranches"></select>
            </div>
        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="IsRegular" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="custom-control-input" asp-for="IsRegular">
            </div>
        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="DateOfBorth" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="DateOfBorth" class="form-control">
            </div>
        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Gender" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                @foreach (var gender in ViewBag.AllGenders)
                {
                    <label class="radio-inline">
                        <input type="radio" asp-for="Gender" value="@gender" id="Gender@(gender)" />@gender<br />
                    </label>
                }

            </div>
        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Hobbies" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <style>
                    .form-check {
                        display: inline-block;
                        margin-right: 20px;
                    }
                </style>
                <div class="hobby-list" style="display: flex; flex-wrap: wrap;">
                    @{
                        int counter = 0;
                        foreach (var hobby in ViewBag.Hobbies )
                        {
                            <div class="form-check">
                                <label class="form-check-label" for="@("hobby" + counter)">@hobby</label>
                                <input class="form-check-input" type="checkbox" name="Hobbies" value="@hobby" id="@("hobby" + ++counter)" />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

        <div style="margin-top:7px" class="form-group row">
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Address" class="form-control" placeholder="Enter Your Address"></textarea>
            </div>
        </div>

        <div style="margin-top:10px" class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>